body {
    margin-left : 1em;
}

.games {
    list-style-type: none;
    margin : 0;
    margin-top:10px;
    padding : 0;
}

.iconic{
    display:inline-block;
    padding:5px;
    width:auto;
    border:1px solid #00AAFF;
    border-radius:5px;
}

.game {
    display : inline-block;
    margin-bottom: 1em;
    background-color:#FFCC00;
    border-radius:10px;
    vertical-align:middle;
    height:12em;
    margin-left:1em;
}

.game:hover {
    opacity:0.7;
}

.game.line {
    display : list-item;
    width:500px;
}

.txt {
    display : none;
    position : relative;
    bottom : 50%;
    color:white;
    font-size:14px;
}

.thumb_wrapper {
    width : 10em;
    height : 10em;
    display : inline-block;
    position: relative;
    margin: 1em;
    border : .3em solid #bbb;
}

.thumb {
    width : auto;
    height: auto;
    max-width : 100%;
    max-height: 100%;
    display : block;
    padding: 0;
    margin: auto;
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.search_box {
    margin-right:5px;
    font-size:12px;
    height:18px;
}

.input_box {
    line-height:25px;
    display:inline-block;
    border:1px solid #999;
    padding:3px 7px;
    border-radius:5px;
}