<!doctype html>
<html>
    <head>
        <title>Basic Game App</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
        <script src="games.js" type="text/javascript"></script>
        <script src="ng-games.js?122" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="games.css?4" type="text/css" />
    </head>
    <body>
        <hr/>
        <span class="glyphicon glyphicon-th" aria-hidden="true" id="gridmode"></span>
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" id="listmode"></span>
        
        <hr/>
        
        <div ng-app="sampleapp">
            <div ng-controller="GameController" ng-init='init()'>
                <span class='iconic'>Search</span>
                    <div class='input_box'>
                    <span class='input_label'>Game title: </span>
                    <input class='search_box' type='text' id='search_by_name' 
                    ng-model='search_keyword' 
                    ng-keyup='total_search()'
                    placeholder='name (least 5)'>
                    </div>
                    
                    <div class='input_box'>
                    <span class='input_label'>Players Range: </span>
                    <select class='search_box' ng-model='search_min' ng-change='total_search()'>
                        <option value='-1'>#Min</option>
                        <option ng-repeat="n in players_range" value='{{n}}'>{{n}}</option>
                    </select> ~&nbsp;
                    <select class='search_box' ng-model='search_max' ng-change='total_search()'>
                        <option value='-1'>#Max</option>
                        <option ng-repeat="n in players_range" value='{{n}}'>{{n}}</option>
                    </select>
                    </div>
                    
                    <div class='input_box'>
                    <span class='input_label'>Playtime Range: </span>
                    <select class='search_box' ng-model='search_min_pt' ng-change='total_search()'>
                        <option value='-1'>#Min Playtime</option>
                        <option ng-repeat='n in playtime_range' value='{{n}}'>{{n}} minute(s)</option>
                    </select> ~&nbsp;
                    <select class='search_box' ng-model='search_max_pt' ng-change='total_search()'>
                        <option value='-1'>#Max Playtime</option>
                        <option ng-repeat='n in playtime_range' value='{{n}}'>{{n}} minute(s)</option>
                    </select>
                    </div>
                    
                <ul class="games">
                    <li ng-repeat="game in games" ng-click="game.alert()" class="game" title="{{game.description}}">
                        <span class="thumb_wrapper"><img class="thumb" src="http:{{game.thumbnail}}"/></span>
                        <span class="txt">
                            {{game.game}} :: for {{game.minplayers}} to {{game.maxplayers}} players in {{game.playingtime}} minutes
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        
    </body>
</html>